.image-panel{
    float: left;
    margin-right: 5px;
    .panel-heading span
    {
        margin-top: -26px;
        font-size: 15px;
        margin-right: -12px;
    }
    .image-panel-footer{
        text-align: center;
        i{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    figure {
        margin: 1px;
    }
    .shadow img{
        -webkit-box-shadow: 3px 3px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      }
}